.aside{
    position: fixed;
    right : 0;
    z-index: 90;
    top : 0;
    bottom: 0;
    width: 0px;
    background-color: var(--aside-content-color);
    display: flex;
    flex-direction: column;
    transition: 1s;
    border-radius: 5px 0 0 5px;
    
}

.aside-button{
    height: 50px;
    width: 20px;
    transform: translate(-20px, calc(50vh));
    border : var(--button-aside-color) solid ;
    border-radius: 5px 0 0 5px;
    background-color: var(--button-aside-color);
    color: var(--button-aside-color-text);
    font-size: 1.2rem;
    position: absolute;
}

.aside-content{
    padding: 15px;
    display: none;
    height: 100%;
}

.code-python{
    border: 1px solid white;
    border-radius : 5px;
    height: 100%;
    margin : 20px;
    padding: 30px;
}

.hidden-aside{
    transition: 1s;
    width: 80%;
}

.hidden-content{
    display: flex;
    flex-direction: column;
}

.asside-title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    color : var(--aside-color-title-text)
}

.vari{
    color : white;
    margin : 5px 0px;
}