header{
    background-color: var(--background-header);
    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    z-index: 80;
    padding: 10px;
}

#draw{
    display: flex;
    flex-direction: column;
}

input{
    width: 90%;
    border: none;
    border-radius: 10px;
    padding : 5px;
    background-color: var(--input-color);
    color : var(--input-color-text)
}

.function-back{
    top : 5px;
}

.buttons > .buttons-function-back{
    background-color: var(--button-success-color) ;
    color: var(--button-info-color-text);
}

.buttons > button{
    padding : 5px 12px;
    font-size: 1.1rem;
    margin : 5px;
    border: none;
    border-radius: 5px;
    background-color : var(--button-info-color);
    color: var(--button-info-color-text);
}

.buttons > .buttons-function-back:hover{
    background-color : var(--button-info-color-hover);
    color: var(--button-success-color);
}

.buttons > button:hover{
    transition: .5s;
    background-color : var(--button-info-color-hover);
    color: var(--button-info-color-text-hover);
}

.buttons-function-back{
  background-color: aqua;   
}

.nodeDraw{
    border-radius: 20px !important;
}

