:root{
    --button-info-color : #0084ff;
    --button-info-color-hover : white;
    --button-info-color-text : white;
    --button-info-color-text-hover : #0084ff;
    --button-success-color : #2c9223;
    --input-color : white;
    --input-color-text : black;
    --button-aside-color : #241B2F;
    --button-aside-color-text : white;
    --aside-content-color : #241B2F;
    --aside-color-title-text : #d8d8d8;
    --background-modal : #111229e5;
}

#app{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#drawflow, .drawflow, body{
    height: 100vh;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
    
